{% extends "base.html" %} {% block content %} {% for year, posts in section.pages | group_by(attribute="year") %}
<div class="space-y-0">
  <h2 class="font-medium">{{ year }}</h2>
  <div class="flex flex-row space-x-2">
    <div class="ml-2 border-r-2 border-opacity-80 border-rose-700"></div>
    <ul class="flex flex-col flex-grow">
      {% for post in posts %}
      <li class="flex flex-col">
        <a class="text-lg hover:underline" href="{{ post.permalink | safe }}">{{post.title}}</a>
        <div class="flex flex-row justify-between text-xs text-gray-600">
          <span>{{ post.date | date(format='%d %B %Y') }}</span>
          <span class="italic">{{ post.reading_time }} min read</span>
        </div>
        <div>
          <span class="text-xs"> {{ post.summary | safe }} </span>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endfor %} {% endblock content %}
