{% extends "base.html" %}

{% block content %}

{% set data = load_data(path="static/data/series.csv") %}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<div id="chart" class="mx-auto border-2 border-gray-600 container-lg min-w-screen"></div>

<script type="text/javascript">
const trace1 = {
  x: [{% for rec in data.records %}"{{rec.0}}"{% if not loop.last%}, {% endif %}{% endfor %}],
  y: [{% for rec in data.records %}{{rec.1}}{% if not loop.last%}, {% endif %}{% endfor %}],
  type: 'scatter',
  mode: 'lines+markers',
  marker: {
    size: 8,
    opacity: 0.8
  },
  line: {
    width: 1,
    opacity: 0.6,
    shape: 'spline'
  },
  name: 'Mind',
};

const trace2 = {
  x: [{% for rec in data.records %}"{{rec.0}}"{% if not loop.last%}, {% endif %}{% endfor %}],
  y: [{% for rec in data.records %}{{rec.2}}{% if not loop.last%}, {% endif %}{% endfor %}],
  type: 'scatter',
  mode: 'lines+markers',
  marker: {
    size: 8,
    opacity: 0.8
  },
  line: {
    width: 1,
    opacity: 0.6,
    shape: 'spline'
  },
  name: 'Body',
};

const data = [trace1, trace2];

const layout = {
  title: 'Activity counts',
  xaxis: {
    type: 'date',
  },
  yaxis: {
    range: [0, 10],
    showgrid: true
  },
  showlegend: true,
  legend: {
    x: 1,
    xanchor: 'right',
    y: 1
  },
  margin: {
    l: 50,
    r: 50,
    b: 100,
    t: 100,
    pad: 4
  },
};

Plotly.newPlot(
  'chart',
  data,
  layout,
  {
    displayModeBar: false,
    responsive: true,
    static_plot: true
  }
);
</script>

{% endblock content %}