{% extends "base.html" %}

{% block content %}

<h2>Hi, I'm Sujith</h2>

<p>I'm currently working as a technology consultant. My work involves designing data driven solutions. I have been interested in reading about python, zig, game design, performance optimization.</p>

<p>Ever since I met my first computer at 9, I felt that technology and making things with it was fun. That's when I knew that the future requires us to use technology to make our lives better.</p>

<p>Take a look at my work below to see what I'm working on, and get in touch if you'd like to work together!</p>

{# <article class="my-prose-markdown">
  {{ section.content | safe }}
</article> #}

{% endblock content %}
