{% extends "base.html" %}

{% block title %}{{page.title}}{% endblock title %}

{% block content %}

{% if not page.extra.hide_title %}
<header class="flex flex-col my-4">
  <h1 class="text-2xl font-semibold">{{ page.title }}</h1>
  {% if not page.extra.hide_meta %}
  <div class="flex flex-row justify-between mt-2 font-mono text-xs font-thin text-neutral-700 dark:text-neutral-400 md:justify-around">
    {% if page.updated %}
    <span>Updated on {{ page.updated | date(format='%d %B %Y') }}</span>
    {% else %}
    <span>Created on {{ page.date | date(format='%d %B %Y') }}</span>
    {% endif %}
    {% if page.reading_time %}
    <span>{{ page.reading_time }} min read</span>
    {% endif %}
  </div>
  {% endif %}
</header>
{% endif %}

<article class="mx-auto prose sm:prose-md prose-neutral dark:prose-invert">
  {{ page.content | safe }}
</article>

{% endblock content %}
